.cm-header-1,.markdown-preview-view h1 {
    color: red
}

.callout[data-callout="summary"] {
    --callout-color: 175, 179, 225;
    --callout-icon: clipboard-list;
}

.callout[data-callout="lemma"] {
    --callout-color: 175, 179, 225;
    --callout-icon: function-square;
}

.callout[data-callout="equation"] {
    --callout-color: 175, 179, 225;
    --callout-icon: sigma;
}

.callout[data-callout="definition"] {
    --callout-color: 175, 179, 225;
    --callout-icon: book;
}